/* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
    BG:    #302D41ff;
    BGA:   #575268ff;
    FG:    #D9E0EEcc;
    BDR:   #1E1E2Eff;
    SEL:   #988BA2ff;
    UGT:   #F28FADFF;
	IMG:   #89DCEBff;
    ON:    #ABE9B3;
    OFF:   #1E1E2E;
}
