[user]
	email = <email>
	name = <name>

[alias]
	co = checkout
	graph = log --all --graph --decorate --oneline
	br = branch
	ci = commit -v
	st = status
	last = log -1 HEAD
	unstaged = diff
	nci = diff --staged
	rmk = rm --cached
	rmkf = rm --cached -f
	unstage = restore --staged
	tgd = tag -d
	tgrep = tag -l
	athd = checkout master

[core]
	editor = vim

[pull]
	rebase = false

