[user]
	name = <username>
	email = <email>

[alias]
	am = commit --amend
	ah = checkout master
	ci = commit -v
	co = checkout
    cl = clone
	br = branch
	graph = log --all --graph --decorate --oneline
	last = log -1 HEAD
    pl = pull
	nci = diff --staged
	rmk = rm --cached
	rmkf = rm --cached -f
	st = status
	sw = switch
	tgd = tag -d
	tgrep = tag -l
	unstage = restore --staged
	unstaged = diff
        
[core]
	editor = nvim

[pull]
	rebase = false

