configuration {
	show-icons:      true;
}

* {
  background-color: #2e3440;
  text-color: #eceff4;
  spacing: 8px;
  width: 612px;
  height: 612px;
}

inputbar {
  border: 0 0 1px 0;
  children: [prompt,entry];
}

prompt {
  padding: 16px;
  border: 0 1px 0 0;
}

textbox {
  border: 0 0 1px 0;
}

entry {
  padding: 16px;
}

listview {
  cycle: false;
  margin: 0 0 0 0;
  scrollbar: false;
}

element {
  padding: 14px;
}

element selected {
  background-color: #4c566a;
}
